.btn.btn-book {
    margin:auto;
    font-size: 26px;
    font-family: "Anton Regular";
    text-transform: uppercase;
    text-decoration: none;
    background-color: $logo-turquoise;
    padding: 10px 20px;
}
