/// <reference path="mixins" />
.btn.btn-book {
    font-family: "Anton Regular";
    text-transform: uppercase;
    text-decoration: none;
    background-color: $logo-turquoise;
    display: none;
    padding: 14px 14px;
    white-space: nowrap;
    font-size: 26px;
    
    @include respond-to(tablet) {padding: 14px 8px; display: inline; }
    @include respond-to(laptop) {padding: 14px 36px;  }
}

.btn-header {
    width: 60%;
}