/// <reference path="variables" />
/// <reference path="mixins" />

header {
    background: $white;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Oswald regular";
    color: $logo-blue;

    .logo-link {
        @include respond-to(widescreen){margin: 25px auto 25px 56px; }
        @include respond-to(laptop) {
            margin: 25px auto 25px 25px; 
        }
        margin: 25px auto 25px 12px;

        img{
            @include respond-to(laptop){
                max-width: 150px;
            }
            max-width: 100px;
        }
    }

    a.icon {
        width: 20%;
        color: $background-red;
        font-size: 26px;
        margin: auto 5px auto auto; 

        @include respond-to(tablet) { margin: auto 5px auto auto;}
        @include respond-to(laptop) { margin: auto 15px auto auto; }
        @include respond-to(widescreen) { margin: auto 30px auto auto;}

    }

    .header-right {
        @include respond-to(widescreen) { margin: auto 56px auto auto;}
        @include respond-to(laptop) { margin: auto 25px auto auto; }

        margin: auto 12px auto auto;

        .mobile-nav {
            margin: auto 5px auto auto; 

            @include respond-to(tablet) { margin: auto 5px auto auto; display: none;}
            @include respond-to(laptop) { margin: auto 15px auto auto; }
            @include respond-to(widescreen) { margin: auto 30px auto auto;}
        }
    }

    nav.header-nav {
        display: flex;
        flex-direction: column;
        margin: auto auto 50px;

        @include respond-to(tablet) {
            position: static;
        }

        position: absolute;
        top: 0;
        left: -800px;

        .primary-nav {
            font-size: 16px;
            padding: 0;
            @include respond-to(laptop) { font-size: 18px;}
        }

        .secondary-nav {
            font-size: 14px;
            padding: 0;
            @include respond-to(laptop) { font-size: 15px;}

        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: start;
            list-style: none;
            margin: 0;

           li {
                text-decoration: none;
                @include respond-to (widescreen) {margin: 5px 50px 5px 0; }
                @include respond-to (laptop) {margin: 5px 25px 5px 0;}
                margin: 5px 5px 5px 0;
                text-decoration-color: $logo-turquoise;

                &:hover, &:active {
                        background: rgba(255,255,255,1);
                        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,255,209,1) 51%, rgba(68,255,209,1) 71%, rgba(68,255,209,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(51%, rgba(68,255,209,1)), color-stop(71%, rgba(68,255,209,1)), color-stop(100%, rgba(68,255,209,1)));
                        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,255,209,1) 51%, rgba(68,255,209,1) 71%, rgba(68,255,209,1) 100%);
                        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,255,209,1) 51%, rgba(68,255,209,1) 71%, rgba(68,255,209,1) 100%);
                        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,255,209,1) 51%, rgba(68,255,209,1) 71%, rgba(68,255,209,1) 100%);
                        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(68,255,209,1) 51%, rgba(68,255,209,1) 71%, rgba(68,255,209,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#44ffd1', GradientType=0 );
                }
           }
        }
    }
}
